{% extends 'template.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <style>
        h1 {
            color: #dc3545;  /* Красный цвет для заголовка */
        }
        a {
            display: inline-block;
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>404 - Страница не найдена</h1>
    <p>Запрошенный заказ не существует.</p>
    <a href="{% url 'list_orders' %}">Вернуться к списку заказов</a>
</body>
</html>

{% endblock %}